<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <!--maximum-scale=1.0,-->
    <link rel="stylesheet" type="text/css" href="snake.css">
  </head> 
  
  <body  ng-controller="snakeCtrl">

    <div ng-cloak id="gameContainer">
      Score: {{score}}
      <div>
          <div class="row" ng-repeat="column in board" ng-style="{height: hgt + 'px'}">
              <div class="column"			     
                  ng-style="{'background-color': setStyling($parent.$index, $index), width: hgt + 'px', height: hgt + 'px'}"
                  ng-repeat="row in column track by $index"
              ></div>
          </div>
      </div>
      <div id="startGame" ng-click="startGame()">Start Game</div>
    </div>

    <script src="angular.min.js"></script>
    <script src="snake.js"></script> 
  </body>

</html>
