<!DOCTYPE html>
<html ng-app='ngSnake' prefix="og: http://ogp.me/ns#">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
    <meta name="description" content="Classic Snake, that models shabbat dances in Jmachenko hall.">
    <meta name="keywords" content="Snake, shabbat, dance">
    <meta name="author" content="Alexey Andryukevich">
    <title>Shabbat dance's Snake</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" type="text/css" href="snake.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!--
    <meta property="og:title" content="Shabbat dance's Snake" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Cover.png" />
		<meta property="og:description" content="Classic Snake, that models shabbat dances in Jmachenko hall." />
    -->
    <meta property="og:title" content='Змейка "Шаббатний хоровод"' />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="Cover.png" />
		<meta property="og:description" content="Старая добрая змейка, моделирующая шаббатние хороводы на Жмаченко. &#13&#10
    Игра поддерживает все устройства. Для управления на сматрфоне/планшете используйте соответствующие жесты в 
    любой области экрана, на компьютере - клавиши со стрелками." />


  </head> 
  
  <body  ng-controller="snakeCtrl">

    <div ng-cloak id="gameContainer">
      <md-content>Score: {{score}} </md-content>
      <div>
          <div class="row" ng-repeat="column in board" ng-style="{height: hgt + 'px'}">
              <div class="column"
                  		     
                  ng-style="{'background-color': setStyling($parent.$index, $index), width: hgt + 'px', height: hgt + 'px'}"
                  ng-repeat="row in column track by $index"
              ></div>
            <!-- ng-class="setFieldClass($parent.$index, $index)"	 -->
          </div>
      </div>
      <md-button id="startGame" ng-click="startGame()">Start Game</md-button>
    </div>





  <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
  

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>


    <script src="snake.js"></script>
  </body>

</html>
