* {
	font-family: "Roboto";
}

#gameContainer, #pastScores {
	float: left;
	width: 100%;
	text-align: center;
}

body {
	overflow-y: hidden; /* To disable android's chrome pull-down-to-refresh feature*/
}

.align {
	position: fixed;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}

.center {
	margin: auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.col {
	display: inline-block;
}

.logo {
	font-family: "SegoePrintRegular";
	font-size: 1.8em;
	line-height: 1;
	padding-top: 5px;
}

#startGame {
	width: 120px;
	padding: 2px;
	margin-top: 10px;
	text-align: center;
	background-color: green;
	color: white;
	display: inline-block;
}

#startGame:hover {
	cursor: pointer;
}

.volume {
    position: fixed;
    right: 0;
    top: 0;
	border-style: none;
}

@font-face {
	font-family: "SegoePrintRegular";
	src: url("fonts/SegoePrintRegular/SegoePrintRegular.eot");
	src: url("fonts/SegoePrintRegular/SegoePrintRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/SegoePrintRegular/SegoePrintRegular.woff") format("woff"),
	url("fonts/SegoePrintRegular/SegoePrintRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}