* {
	font-family: "Roboto";
}

#gameContainer, #pastScores {
	float: left;
  width: 100%;
  text-align: center;
}

body {
  overflow-y: hidden; /* To disable android's chrome pull-down-to-refresh feature*/
}

.row {
	height: 10px;
}

.column {
	width: 10px;
	height: 10px;
	display: inline-block;
}

#startGame {
	width: 120px;
	padding: 2px;
	margin-top: 10px;
	text-align: center;
	background-color: green;
	color: white;
    display: inline-block;
}

#startGame:hover {
	cursor: pointer;
}
